/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8d7da;
    color: #333;
    text-align: center;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    background-color: #ff6699;
    padding: 20px 0;
    color: white;
    border-radius: 10px 10px 0 0;
}

/* Estilo para los productos */
#productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Botones de compra */
.btn-comprar, .btn-agotado {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-top: 10px;
}

.btn-comprar {
    background-color: #ff4081;
}

.btn-comprar:hover {
    background-color: #d32f6f;
}

.btn-agotado {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Footer */
footer {
    background-color: #ff6699;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}
